extends layout

block content

  // Form to add new product
  form(action='./addProduct' method='POST' class='form-registration')
    div(class='row my-3')
        div(class='col-md-2 align-bottom')
          label(for="productName" class='fs-5') New Product
        div(class='col-md-8')
          input(class="form-control form-control-sm" type="text" name='productName' placeholder="Enter new product name" )
        div(class='col-md-2 text-end')
          button(class='btn btn-success btn-sm' type='submit') Add Product


  h5(class='my-2') Current Products

  // Table header for current products
  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-4 fw-bold') Product Name
    div(class='col-md-2 fw-bold') Description
    div(class='col-md-2 fw-bold') Price
    div(class='col-md-2 fw-bold') Stock Quantity
    div(class='col-md-2 fw-bold') Action

  // Iterate through current products
  each product in currentProducts
    div(class='row mb-2')
      div(class='col-md-4') #{product.name}
      div(class='col-md-2') #{product.description}
      div(class='col-md-2') #{product.price}
      div(class='col-md-2') #{product.stockQuantity}
      div(class='col-md-2')
        form(action='./deleteProduct' method='POST' class='form-registration')
          input(type='hidden' name='_id' value=`${product._id}`)
          button(class='btn btn-danger btn-sm mx-1') Delete

  h5(class='my-2') Completed Products
  // Table header for completed products
  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-4 fw-bold') Product Name
    div(class='col-md-2 fw-bold') Description
    div(class='col-md-2 fw-bold') Price
    div(class='col-md-2 fw-bold') Stock Quantity
    div(class='col-md-2 fw-bold') Action

  // Iterate through completed products
  each product in completedProducts
    div(class='row mb-3')
      div(class='col-md-4') #{product.name}
      div(class='col-md-2') #{product.description}
      div(class='col-md-2') #{product.price}
      div(class='col-md-2') #{product.stockQuantity}
      div(class='col-md-2')
        form(action='./deleteProduct' method='POST' class='form-registration')
          input(type='hidden' name='_id' value=`${product._id}`)
          button(class='btn btn-danger btn-sm mx-1') Delete
